.profile__group {
    max-width: 415px;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
    margin: 16px 0 0 0;
}

@media screen and (max-width: 768px) {
    .profile__group {
        text-align: center;
    }
}

@media screen and (max-width: 430px) {
    .profile__group {
        font-size: 14px;
        line-height: 17px;
        margin: 14px 0 0 0;
    }
}