.element__like-toggle {
    all: unset;
    background-color: transparent;
    background-image: url("../../../images/like-toggle.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    height: 19px;
    align-self: center;
    margin: 0 0 0 auto;
}

.element__like-toggle:hover {
    cursor: pointer;
    opacity: 0.5;
}

.element__like-toggle-active {
    background-image: url("../../../images/like-toggle-active.svg");
}