.edit-profile-form__field_type_name {
    margin: 54px 36px 0;
    /*not the same as edit-profile-form__group*/
    padding: 0 0 13.26px 0;
    /*not the same as edit-profile-form__group*/
}

@media screen and (max-width: 730px) {
    .edit-profile-form__field_type_name {
        margin: 76px 22px 0;
        padding: 0 0 9px 0;
    }
}