.popup__image {
    max-width: 75vw;
    max-height: 75vh;
    /*margin and line-height of image-title*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}