.popup__image {
    max-width: 75vw;
    max-height: calc(75vh - 10px - 15px);
    /*margin and line-height of image-title*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}